.App {
  text-align: center;
  display: grid;
  grid-template-columns: minmax(200px, 20vw) 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
                    "filters selectedFilters"
                    "filters cards";
  grid-gap: 1em;
  background-image: url("./fabric_of_squares_gray.png");
  background-size: auto;
  background-repeat: repeat;
}

.no-btn{
  outline: none;
  box-shadow: none;
  background-color: inherit;
}

.no-btn:active{
  outline: none;
}

.filters{
  grid-area: filters;
}

.selectedFilters{
  grid-area: selectedFilters;
}

.cards{
  grid-area: cards;
}

@media(max-width: 480px){
  .App{
    display: flex;
    flex-direction: column;
  }

}