.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.2em 0.3em;
    background-color: rgba(32, 32, 32, 0.3);
    justify-content: space-around;
    border-radius: 15px;
}
.noCards{
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    color: white;
}

@media(max-width: 480px){
    .cards{
        background-color: rgba(244, 244, 244, 0.3);
    }
}