.filterTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em 1em;
}

.filterVisibility{
    display: none;
}

.myProjects{
    color: blue;
}

a{
    text-decoration: none;
    color: inherit;
}

.myProjects >ul > li{
    list-style-type: circle;
    list-style-position: outside;
}
@media(max-width: 480px){
    .filterTitle{
        margin: 0.5em 1em;
    }
    .filterVisibility{
        display: inherit;
        font-size: 30px;
        align-items: center;
        border: 1px solid black;
        border-radius: 25px;
    }

    .filterVisibility .icons{
        width: 25px;
        height: 25px;
        margin: auto 0;
        border: 1px solid black;
        border-radius: 25px;
    }

    .filterVisibility .icons i{
        font-size: 18px !important;
        display: block;
        cursor: pointer
    }

    .filterTitle h2{
        margin: 0px;
    }

    .myProjects{
        display: none;
    }
}