.filterItem {
    padding: 0.3em 0.5em;
    border: 1px solid black;
    margin: 0.2em 0.3em;
    text-align: left;
    text-transform: capitalize;
}

.filterItem > ul{
    list-style-type: none;
    padding: 0;
}

.filterItem > ul > li{
    margin: 0.1em 0;
}